* {
    margin:0;
}

.body {
    background-color: #f6df0c;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.button-container {
    display: flex;
    flex-direction: row;
}

ul {
   columns: 3;
}

.pokemonCard-container {
    display: flex;
    gap: 20px;

    flex-wrap: wrap;
}
